<% unless current_user.nil? %>
  <h3>OAQ: Online Author Questionniare</h3>
  <p>OAQ is a tool for creating questionnaires, gathering author data in custom formats, and sharing it with libraries to make authors more discoverable.</p>
  
  <h4>Hello, <%= current_user.first_name.nil? ? current_user.username : current_user.full_name %>!</h4>
  
  <% if current_user.is_author? %>
    <% unless @author_profile.nil? %>
      <% if @author_profile.first_name == "" || @author_profile.last_name == "" || @author_profile.phone == "" %>
        <p>You have not yet completed your author profile, please do so <%= link_to "here", edit_author_path(current_user.find_profile(current_user.publisher.id)) %>.</p>
	  <% end %>
	<% end %>	
  <% elsif current_user.is_publisher? %>	  
    <p>You are associated with <%= current_user.publisher.name %></p>
	
    <h4>Getting started</h4>
    <p>Welcome to the Author Names application. We’ve set up an account for a fictional publisher to help you see what you can do.</p>

    <h4>An example questionnaire</h4>
    <p>This questionnaire includes some typical questions for authors. You can add or remove form elements or edit the sequence in which they appear.</p>
  
    <h4>Send a questionnaire to new authors</h4>
    <p>Drop in authors’ email addresses to send the example form to all of them.</p>

    <h4>Questions for authors</h4>
    <p>See all the questions on the form and other form items that have already been created. These are the pieces that you can use (and re-use) to build author questionnaires.</p>

    <p>You can create new form items, here, too.</p>

    <h4>Create a new questionnaire</h4>
    <p>Every new questionnaire comes with some built-in fields, but you can add more by checking boxes next to the names of fields you’d like to include.</p>

    <h4>Manage your staff accounts</h4>
    <p>We’ve created some imaginary staff members for you.</p>
  <% end %>
  	  
<% else %>
  <h3>OAQ: Online Author Questionniare</h3>
  <p>OAQ is a tool for creating questionnaires, gathering author data in custom formats, and sharing it with libraries to make authors more discoverable.</p>
<% end %>    