<div class="col-lg-12">
  <h1>New Responses</h1>
  <%= render :partial => 'response_table', :locals => {:response_hash => @response_hash_new, :done_flag => true }%>
</div>

<div class="col-lg-12">
  <h1>Past Responses</h1>
  <% if current_user.try(:superadmin?) %>
   <p>Both publisher and library have marked as exported</p>
  <% end %>
  <%= render :partial => 'response_table', :locals => {:response_hash => @response_hash_past, :done_flag => false }%>
</div>

