<h2>New Questionnaire</h2>
<div id="welcome-left">
  <div class="col-lg-12">
    <h2>Edit <%= @author.full_name %> Profile</h2>
    <div class="row">
      <div class="well">
  	  <%= render :partial => 'shared/forms/questionnaire' %>
      </div>
    </div>	
  </div>	
</div>

<div id="welcome-right">
    <h4>Auto-Included Library Required Fields</h4>
    <% unless @lib_req.nil? || @lib_req.empty? %>
      <% @lib_req.each do |fi| %>
        <%= fi.field_name %>
      <% end %>	
    <% else %>
      None.
    <% end %>	
  
    <h4>Auto-Included Publisher Required Fields</h4>
    <% unless @pub_req.nil? || @pub_req.empty? %>
      <% @pub_req.each do |fi| %>
        <%= fi.field_name %>
      <% end %>	
    <% else %>
      None.
    <% end %>
</div>