/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

ol {
	list-style-type: none;
	padding: 0px;
}

.navbar {
	position: relative;
}

.page-header {
	margin-top: 22px;
}

.inline-errors {
	color: red;
}


/* Set the fixed height of the footer here 
#push, #footer {
  height: 60px;
}

#footer {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(white));
  padding-top: 15px;
}

ol li {
	list-style-type:none;
}

.yellow-box {
	border: 1px solid #df7e0a; 
	padding: 5px; 
	margin: 5px;
	background-color: #f7ec9b;
	width: 150px;
}

form.formtastic fieldset > ol > li p.inline-errors {
  color: #b94a48;	
  padding: 5px;
  background-color: pink;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  display: table;
}

#welcome-left {
	float: left;
	width: 45%;
}

#welcome-right {
	float: right;
	width: 45%;
	
}

th {     
    cursor: pointer; 
    font-weight: bold;
}

.pager {
	position: relative;
	top: 0px;
	padding-bottom: 20px;
}

.widget {
	padding-bottom: 50px;
}


*/


