<center>
<span class="ll_logo"><%= image_tag "LL_mini.png" %></span>
<br /><br />
Thanks to the generous support of <a href="http://lab.library.harvard.edu/">Harvard Library Lab</a>, the <a href="https://osc.hul.harvard.edu/"> Harvard Library Office for Scholarly Communication</a>, the <a href="http://cyber.law.harvard.edu/">Berkman Center for Internet and Society</a> and the <a href="http://www.arcadiafund.org.uk/">Arcadia Fund</a>.
</center>
